.NavbarItems {
    background-color: #F8F8F8	;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(5,auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2rem;
}

.navbar-logo {
    color: black;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
  }
.nav-links {
    color: black;
    font-size: 15px;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.nav-links:hover{
    background-color: rgb(135, 244, 248);
    border-radius: 4px;
    transition: all 0.5s ease-out;
}
.fa-bars {
    color: black;
}
.nav-links-mobile {
    display: none;
}

.menu-icon {
    color: black;
    display: none;
    
}

@media screen and (max-width: 960px) {
    .NavbarItems {
        position: relative;
    }
    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 500px;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;

    }

    .nav-menu.active {
        background:#fff;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;

    }
    .nav-links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }
    .nav-links:hover {
        background-color: rgb(135, 244, 248);
        
        border-radius: 4px;
        border-radius: 0;
    }
    .navbar-logo {
        position: absolute;
        top:0;
        left: 0;
        transform: translate(25%, 50%);
        
    }
    .menu-icon {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        transform: translate(-100,60%);
        font-size: 1.8rem;
        cursor: pointer;
    }
    .fa-times {
        color: black;
        font-size: 2rem;
    }
   

}