body {
  padding: 50px;
  background-color: #f8f8f8;
  font-family: sans-serif;
}
.container {
  display: flex;
  justify-content: center;
}
.todoListMain .theList {
  list-style: none;
  padding-left: 0;
  width: 250px;
} 

.todoListMain .theList li {
  color: black;
  background-color: #f8f8f8;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  list-style: none;
}

.todoListMain .header input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #f8f8f8FF;
  width: 165px;
}

.todoListMain button {
  transition: all 0.3s ease;
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  margin-right: 0px;
  border-style: black;
}
.todoListMain button:hover {

   box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001;


  cursor: pointer;
}
.todoListMain .theList {
  list-style: none;
  padding-left: 0;
  width: 250px;
} 
.todoListMain .theList li {
  color: black;
  background-color: #f8f8f8;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  list-style: none;
  cursor: pointer;
}

