:root {

    --idealWhite: aliceblue;
}

.linkContainer {
    position:relative;
    
    margin-top: 50%;
    margin-bottom: 0;
    margin-left: 70%;
    justify-content: end;
    
}
.linkContainer {
   position: center;

}
.link-list nobr {
    
    color: var(--idealWhite);
    display: inline;
    padding: 30px;
    font-size: 40px;
    
    
    
    
}
@media screen and (max-width: 960px) {
    .linkContainer {
        position: relative;
        margin-top: 200%;
        display: flex;
        
       
    }
    .linkContainer {
        position: center;
    }
    .link-list nobr {
        
        margin-right:auto;
        color: var(--idealWhite);
        display: inline;
        display: flex;
        padding: 20px;
        font-size: 40px;
        
        
        
        
    }
}
@media screen and (max-width: 400px) {
    .linkContainer {
        position: relative;
        margin-top: 25%;
        
        
       
    }
    .linkContainer {
        position: center;
    }
    .link-list nobr {
        
        

        color: var(--idealWhite);
        display: inline;
        
        padding: 30px;
        font-size: 30px;
        
        
        
        
    }
}