:root {
    --background:hsl(204 100% 5%);
    --idealWhite: aliceblue;
}


.emails {

    margin-top: 5%;
    color:var(--idealWhite);
  
}

.emailList {
    text-decoration: none;
    position:absolute;

}
.emailbutton {
    
    align-self: center;
    background-color: var(--background);
    border-radius: 5px;

    border:none;
    font-size: 50px;
    
    
}



.mainEmail{
    
    background: linear-gradient(
      to right,
      hsl(98 100% 62%), 
      hsl(204 100% 59%)
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
    
    
}
.mainEmail :hover{
    background: linear-gradient(
      to left, 
      hsl(98 100% 62%), 
      hsl(204 100% 59%)
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
    
    
}
