:root {

    --idealWhite: aliceblue;
}

.mainTitle{
    margin-top: 5%;
    margin-left: 2%;

}
.bodyIntro {
    position: relative;
    display: flex;
    margin-top: 5%;
    margin-left: 2%;
    max-width: 800px;
    height: 300px;
}
.mainIntro {
    margin-top: 5%;
    margin-left: 2%;
    color: var(--idealWhite);
    
}
.aboutlist {
    list-style: none;
    padding-left:0px
    
}

.colorHighlight {
    background: linear-gradient(
      to right, 
      hsl(98 100% 62%), 
      hsl(204 100% 59%)
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.club-features {
    position:absolute;
    
    
    margin-top:10%;
    left: 1%;
    margin-left:30%;

}
.featureList {
    list-style: none;
    color: var(--idealWhite);
    padding-left:0px

}
.homehr1{
    display: none;
}
.homehr2{
    display: none;
}
.homehr3{
    display: none;
}

@media screen and (max-width: 960px) {
    .mainTitle{
        color: var(--smallfontGreen);
        margin-top: 15%;
        margin-left: 2%;
        text-align: center;
        

    }
    .mainIntro {
        
        
        max-width :500px;
        
        margin: 0 auto;
        
    }
    .club-features {
        position: absolute;
        margin:0 auto;
        margin-top: 5%;
        max-width :500px;
        
        
        
    }
    .homehr1{
        display: flex;
        width: 90%;
        margin-top: 10%;
    }
    .homehr2{
        display: flex;
        position:relative;
        width: 90%;
        margin-top: 35%;  
    }
    .homehr3{
        display:flex;
        position:relative;
        width: 90%;
        margin-top: 80%;
    }


    
}

@media screen and (max-width: 400px) {
    .mainTitle{
        color: var(--smallfontGreen);
        margin-top: 20%;
        margin-left: 2%;
        text-align: center;
        

    }
    .mainIntro {
        
        
        max-width :500px;
        
        margin: 0 auto;
        
    }
    .club-features {
        position: absolute;
        margin:0 auto;
        margin-top: 5%;
        max-width :500px;
    }
    .homehr1{
        display: flex;
        width: 90%;
        margin-top: 10%;
    }
    .homehr2{
        display: flex;
        position:relative;
        width: 90%;
        margin-top: 90%;  
    }
    .homehr3{
        display:flex;
        position:relative;
        width: 90%;
        margin-top: 110%;
    }


    

    
    

    
}
