:root {

    --idealWhite: aliceblue;
}

.mainTitle{
    margin-top: 5%;
    margin-left: 2%;

}
.bodyIntro {
    width: 800px;
    height: 300px;
}
.mainIntro {
    color: var(--idealWhite);
    margin-top: 7%;
    margin-left: 5%;
}
.aboutlist {
    list-style: none;
    padding-left:0px
    
}

.colorHighlight {
    background: linear-gradient(
      to right, 
      hsl(98 100% 62%), 
      hsl(204 100% 59%)
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
}





@media screen and (max-width: 767px) {
    .mainTitle{
        color: var(--smallfontGreen);
        margin-top: 15%;
        margin-left: 2%;
        text-align: center;

    }

    
    

    
}