body {
  padding: 0;
  
}
h1,h2 {
    background: linear-gradient(
      to right, 
      hsl(98 100% 62%), 
      hsl(204 100% 59%)
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
    
  }

  
  body {
    background: hsl(204 100% 5%);
    
    
  }
  
  h1,h2,h3,p {
    font-family: "Dank Mono", ui-monospace, monospace;
  }
